* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #639;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

#snackbar {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    background-color: white;
    padding: 16px;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    border-radius: 5px;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        top: -30px;
        opacity: 0;
    }

    to {
        top: 10px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        top: 10px;
        opacity: 1;
    }

    to {
        top: -30px;
        opacity: 0;
    }
}

.error {
    color: red;
}

.successful {
    color: rgb(23, 196, 23);
}

@media only screen and (max-width: 500px) {}

.form-container {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container>h1 {
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
}

.form {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
}

.form>label {
    align-self: flex-start;
}

.input-container {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.required {
    color: red;
}

.form--input {
    flex-grow: 1;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-family: 'Inter', sans-serif;
}

.form--submit {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #639;
    border: none;
    cursor: pointer;
}

.form--textarea {
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;

}

.toggle {
    display: none;
}

.success {
    display: none;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.success span {
    display: flex;
    align-items: center;
    vertical-align: baseline;
}

.success>img {
    height: 100%;
}